@model WebApplication2.Models.CustomersDetail

@{
    ViewData["Title"] = "CustomerDetail";
}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Status Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" id="errorMessge"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card shadow-sm mb-5 bg-white rounded">
        <div class="card-header">
            <h3>Customer Detail</h3>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <dl class="row">

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CustomerName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CustomerName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AddressLine1)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AddressLine1)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AddressLine2)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AddressLine2)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Town)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Town)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.County)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.County)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Postcode)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Postcode)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ContactEmail)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ContactEmail)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ContactPhoneNumber)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ContactPhoneNumber)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Status)
                </dd>

            </dl>

            <div>
                <a asp-action="EditCustomer" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </div>
    </div>


</div>
@section Scripts {

    <script type="text/javascript" src="~/js/customJs/CustomerDetail.js" )"></script>
}